.scrollable-hidden {
  overflow-y: auto;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
}

.scrollable-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.truncate {
      display: -webkit-box;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      -webkit-line-clamp: 2; /* Number of lines to show */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
