@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "High Tide";
  src: local('High Tide'),
  url("/src/assets/fonts/HighTide.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}