/* Example for three columns on larger screens, two on medium, and one on small */
@media (min-width: 992px) {
  .ResponsiveMasonry {
    columnsCount: 3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ResponsiveMasonry {
    columnsCount: 2;
  }
}

@media (max-width: 767px) {
  .ResponsiveMasonry {
    columnsCount: 2;
  }
}
